@media (max-width: 620px){

    .som-btn{
        width: 25px;
        height: 25px;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carrossel-cdz{
        padding: 0px 15px;
        gap: 10px;
    }

    .btn-seta{
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista-cavaleiros{
        max-height: 450px;
    }

    .cartao .imagem-cavaleiro{
        max-height: 200px;
    }

    .cartao .informacoes .nome{
        max-width: 70%;
        font-size: 15px;
    }

    .cartao .informacoes .vida{
        font-size: 14px;
    }


}
